<ion-view title="Information Sur le Rendez-vous " ng-controller="InfoRdvCtrl">
    <ion-content>
        <div class="padding">
            <label>Numero du rendez-vous:<strong>  {{rendez.num_rdv}}</strong></label><br>
            <label>Date de Rendez-vous:<strong>  {{rendez.date_rdv}}</strong></label><br>
            <label>Heure Rendez-vous:<strong>  {{rendez.heure_rdv}}</strong></label><br>
            <label>Numero:<strong>{{}}</strong></label><br>
            <label>Nom Du Client:<strong>   {{rendez.nom_client}}</strong></label><br>
            <label>Numero Immatriculation:<strong>  {{rendez.num_immatri}}</strong></label><br>
            <label>Numero de la citerne:<strong>  {{rendez.num_citerne}}</strong></label><br>
            <label>Numero d'abrobation:<strong>   {{rendez.num_abrobation}}</strong></label><br>
            <label>Nombre de compartiment:<strong>  {{rendez.nbre_compartiment}}</strong></label><br>
            <label>Capacite Nominale:<strong>  {{rendez.capa_nominal}}  litre(s)</strong></label><br>
            <label>Numero de telephonet:<strong>  {{rendez.num_telephone}}</strong></label><br>
            <label>Type de rendez-vous:<strong>   {{rendez.type_rdv}}</strong></label><br>
        </div>
    </ion-content>
</ion-view>