<ion-view title="Enregistrement Certificat Jaugeage" ng-controller="SauverCertificatCtrl">
    <ion-content>
        <h2 class="title">Enregistrement des certificats non SCDP</h2>

        <ion-scroll  zooming = "true" style ="width:1350px; height: 400px" direction="xy">
            <div class="padding">
        <form class="form-horizontal" role="form" method="post">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Numero Immatriculation</span>
                <input type="text"name="num_Immatr" placeholder="John">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Numero citerne</span>
                <input type="text"name="nom_photo" placeholder="John" >
            </label>
            <label class="item item-input item-stacked-label" style="display:none">
                <span class="input-label">base64</span>
                <input type="text"name="photo" placeholder="John" ng-model="base64">
            </label>

            <div class="row">
                <div class="col-35"><img ng-src="{{pictureUrl}}" style="max-width: 100%"></div>

                <div class="col"><button class=" button button-float-calm" ng-click="takePicture()"><i class="icon ion-camera"></i></button></div>
            </div>
            <button class="button button-small button-positive" type="submit">
                Submit
            </button>
        </form>
        </div>
        </ion-scroll>

    </ion-content>
</ion-view>